.fp-style-1 {
 background-image: url('./../imgs/bg-01.jpg');	background-position: 50% 50%;	background-repeat: no-repeat;	
}

.fp-style-2 {
 background-image: url('./../imgs/bg-04.jpg');	background-repeat: no-repeat;	
}

.fp-style-3 {
 background-image: url('./../imgs/bg-05.jpg');	background-repeat: no-repeat;	
}

.fp-style-4 {
 background-image: url('./../imgs/bg-06.jpg');	background-repeat: no-repeat;	
}

.fp-style-5 {
 background: black;	
}

